<div class="login-wrapper">
  <div class="login-card">
    <div class="logo-area">
      <img src="assets/zorimed-logo.png" alt="ZoriMed logo" />
      <h1>{{'login-component.title' | translate}}</h1>
      <p>{{'login-component.subtitle' | translate}}</p>
    </div>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required />
      <input type="password" name="password" [(ngModel)]="password" placeholder="Parolă" required />
      <button type="submit">{{'login-component.buttons.login' | translate}}</button>
      <button (click)="navigateToUrl('/register')" type="submit">
        {{'login-component.buttons.register' | translate}}
      </button>
      <p *ngIf="loginError" class="error">{{'login-component.errors.incorrect_data' | translate}}</p>
    </form>
  </div>
</div>
