<div class="sidebar" [class.expanded]="isExpanded"
     (mouseenter)="isExpanded = true" (mouseleave)="isExpanded = false">
  
  <div class="sidebar-inner">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <!-- <mat-icon class="icon">dashboard</mat-icon> -->
          <span class="label" *ngIf="isExpanded">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <!-- <mat-icon>person</mat-icon> -->
          <span class="label" *ngIf="isExpanded">Profile</span>
        </a>
      </li>
      <li>
        <a routerLink="/analysis" routerLinkActive="active">
          <!-- <mat-icon >local_hospital</mat-icon> -->
          <span class="label" *ngIf="isExpanded">Medical Analysis</span>
        </a>
      </li>
    </ul>
  </div>
</div>
