.app-footer {
  height: 40px;
  background-color: #0c133f;
  color: #e6e6ec;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  border-top: 1px solid #62538e;
  margin-top: auto;
}
